{
        email berkay.dedeoglu@outlook.com
}

:80 {
        respond /_health "OK" 200
}

:443 {
        respond /_health "OK" 200
}

nomad.berkaydedeoglu.dev {
        encode gzip

        handle_path /deployer/* {
                reverse_proxy nomad-deployer.service.consul:8000
        }

        handle {
                reverse_proxy http://147.93.121.174:4646
        }

        respond /_health "OK" 200
}
